// Custom.scss
// Option A: Include all of Bootstrap

$primary: #C49A6C;

$headings-font-family: 'Lilita One', sans-serif;
$font-family-base: 'Merriweather', serif;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here*
.logo {
  max-width: 250px;
  max-height: 150px; 
}

.featured-items .btn-light {
  border-radius: 33px;
  padding: 1px 10px;
  width: calc(100% - 60px);
}
.our-story .container {
  padding: 0rem;
  margin: 5rem;
}
.know-best .container {
  padding: 0rem;
  margin: 5rem;
}

.featured-items {
  background-color: $primary;
}
.featured-items .row {
  gap: 20px;
  --bs-gutter-x:0;
  flex-wrap: nowrap;
}

.featured-items .card {
  padding: 0;
  flex: auto;
}

.header {
  background-color: $primary;
  font-family: 'Lilita One', sans-serif;
  color: white;
}
.header .container {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header .container .col:last-child {
  width: fit-content;
  flex: unset;
}
.header .container .col:last-child .nav-link {
  color: white;
}
.header-icons-container {
  width: fit-content;
  align-items: center;
  height: 55px;
}
.header-icons-container .divider {
  padding: 0;
}

.not-just-for-baby {
  // background-image: url(../images/cheers-with-juice.jpg);
  background-color: #C49A6C;
}
.footer {
  background-color: $primary;
}

.footer li {
  list-style-type: none;
}

.footer ul {
  padding-left: 0;
}

.footer a,
.footer a:visited {
  color:black;
  text-decoration: none;
}

.know-best-pic {
  border-radius: 16px;
  height: 175px;
  object-position: top;
}
.product-card {
  border-radius: 18px;
}
.card-body .shopping-icon {
  font-size: 36px;
}
.icon-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.products .row {
  gap: 20px;
}

.products + .products {
  margin-top: 20px;
}
.nutrionist-pic {
  border-radius: 16px;
  height: 175px;
  object-position: top;

}

@media screen and (max-width: 576px) {

.PJ-name h1,
.PJ-name h4 {
  display: inline-block; /* Keep elements on the same line */
}


.header-banner {
  text-align: center;
}

.navbar-nav {
  flex-direction: column;
  align-items: center;
}

.featured-items .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.featured-items .row .card {
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 2px;
}

.featured-items .row .btn {
  width: 100%;
}

.shop-all-button button {
  width: 100%;
}

.our-story {
  padding: 20px 0;
}

.know-best .card {
  margin-bottom: 20px;
}

.our-story .row {
  flex-direction: column;
  gap: 20px;
}

.orange-4eyes,
.col {
  width: 100%;
  flex: unset;
}

.orange-4eyes img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  order: -1;
}
.footer {
  padding: 20px;
  text-align: center;
}

.footer img {
  width: 30px;
  margin: 5px;
}
}


@media screen and (min-width: 992px) {
  
}